body {
  background-color: rgb(225, 221, 216);
}

.accordion {
    border: 1px solid #ccc;
    margin: 10px;
    border-radius: 4px;
    overflow: hidden;
  
    .accordion-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      cursor: pointer;
      background-color: #f1f1f1;
  
      .arrow {
        transition: transform 0.3s;
      &.open {
          transform: rotate(180deg);
        }
      }
    }
  
    .accordion-content:nth-child(even) {
      padding: 10px;
      background-color: #fff;

      div form:nth-child(even) p {
        color: #6a6a6a;
      }
      div form:nth-child(even) input {
        border-color: #6a6a6a;
      }
      #inputFile::-webkit-file-upload-button {
        visibility: hidden;
      }
      
      #inputFile::before {
        content: 'Upload an image';
        display: inline-block;
        background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
        border: 1px solid #999;
        border-radius: 3px;
        padding: 5px 8px;
        outline: none;
        white-space: nowrap;
        cursor: pointer;
        text-shadow: 1px 1px #fff;
        font-weight: 700;
        font-size: 10pt;
      }
      
      #inputFile:hover::before {
        border-color: black;
      }
      
      #inputFile:active::before {
        background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
      }
      
    }
  }
  
  