body {
  background-color: rgb(225, 221, 216);
}

.accordion {
    border: 1px solid #ccc;
    margin: 10px;
    border-radius: 4px;
    overflow: hidden;
  
    .accordion-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      cursor: pointer;
      background-color: #f1f1f1;
  
      .arrow {
        transition: transform 0.3s;
      &.open {
          transform: rotate(180deg);
        }
      }
    }
  
    .accordion-content:nth-child(even) {
      padding: 10px;
      background-color: #fff;

      div form:nth-child(even) p {
        color: #6a6a6a;
      }
      div form:nth-child(even) input {
        border-color: #6a6a6a;
      }
    }
  }
  
  